.fixed-container{
    top:0;
    left: 0;
}

.fixed{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    background-color: #fbfbfb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    z-index: 100;
}
.header{
    width:100%;
    min-height: 5rem;
    display:flex;
    align-items: center;
    padding-left: 2rem;
    border-width:0px;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: rgb(80, 83, 83);
}


.navbar{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.navbar-item{
    background-color: white;
    border-style:solid;
    border-width: 1px;
    border-color: rgba(184, 184, 184, 0.5);
    min-width:10rem;
    text-decoration: none;
    color:#535151;
    display:flex;
    height:35px;
   align-items:center;
    justify-content: center;
}

.navbar-item:hover{
    background-color: #fafafa;
    color: black;
    border-color:lightwhite;
}

.fixed-gap{
    height: 20rem;
}

.fixed-container{
    margin-bottom: 10rem;
}

.navbar-toggle{
    display:none;
}

@media screen and (max-width:768px) {
    .navbar{
        display: block;
        justify-content: center;
        flex-direction: column;
        position:absolute;
        width:100%;
        height: 100%;
        overflow-y: scroll;
        background-color: white;
        z-index:100
    }

    .navbar>.navbar-item{
        margin-bottom: 0px;
        align-items: center;
        height:50px;
    }
    
    .fixed{
        /* border-bottom-style:none; */
        height: 150px
    }

    .navbar-toggle{
        display:block;
    }
    .mob-hid{
        display:none;
    }

}

@media screen and (max-width:240px) {
    .fixed-container{
        height: 10px;
    }

}